<% provide(:title, 'Edit') %>
<%= render 'clean_blogs/shim' %>
<%= render 'clean_blogs/navigation' %>
<%= render 'clean_blogs/header' %>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
    <h2>Update your profile</h2>
                        
    <%= form_for(@user, url: edit_path)  do |f| %>
        <%= render 'shared/error_messages' %>
                        <div class="form-group">
      <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
                        </div>

                        <div class="form-group">
      <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
                        </div>

                        <div class="form-group">
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
                        </div>
                        <div class="form-group">
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirmation" %>
                        </div>

                        <div class="form-group">
                        <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
      <%= f.submit "Update my profile", class: "form-control btn btn-register" %>
                        </div>
                        </div>
                        </div>
    <% end %>


</div>
    </div>
        </div>
            </div>
                </div>
                    </div>
<%= render 'clean_blogs/footer' %>